<div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                                <%= image_tag( "foto.png" ,alt: "Rodolfo Peixoto") %>
                            </div>
                            <div class="info">
                                <h2>
                                    Rodolfo Peixoto
                                </h2>
                                <h6>
                                    Desenvolvedor / Graduando Ciências da Computação
                                </h6>
                                <p>
                                    Um grande entusiasta por computação e empreendedorismo, Eu me dedico a estudar arduamente várias áreas da computação para um dia desenvolver projetos que traga benefícios para a sociedade brasileira ou quem sabe do mundo.
                                </p>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="#resume">Resumo</a>
                                    </li>
                                    <li>
                                        <a href="#portfolio">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#contact">Contrate-me para o seu próximo projeto</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="break"></div>

                        <div class="contact-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-envelope"></i>
                              <div class="item-data">
                                <h3><a href="#">rodolfog.peixoto@gmail.com
                                 <i class="fa fa-envelope"></i>
                                </a>
                                </h3>

                                <p>Email</p>
                              </div>
                            </div>
                          </div>

                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="https://www.facebook.com/rdxinho">@rdxinho
                                <i class="fa fa-facebook-square"></i>
                                </a></h3>
                                <p>Facebook</p>
                              </div>
                            </div>
                          </div>



                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-twitter"></i>
                              <div class="item-data">
                                <h3><a href="https://twitter.com/rdxinho" title="Twitter Rodolfo Peixoto" alt="Twitter - Rodolfo Peixoto">@rdxinho
                                <i class="fa fa-twitter-square"></i>
                                </a></h3>
                                <p>Twitter</p>
                              </div>
                            </div>
                          </div>
                           
                        <div class="break"></div>

                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="http://br.linkedin.com/pub/rodolfo-peixoto/76/51b/599">Linkind
                                <i class="fa fa-linkedin-square"></i>
                                </a></h3>
                                <p>Linkind Perfil</p>
                              </div>
                            </div>
                          </div>


                        <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="https://github.com/rodolfopeixoto">
                                GitHub
                                <i class="fa fa-github"></i>
                                </a></h3>
                                <p>GitHub Profile</p>
                              </div>
                            </div>
                          </div>


                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="https://gitlab.com/u/rdxinho">
                                GitLab
                                <i class="fa fa-github-alt"></i>
                                </a></h3>
                                <p>GitLab Profile</p>
                              </div>
                            </div>
                          </div>


                        </div>

                    </section><!-- content -->
                </div>