
<header id="header">
            <div id="logo">
                <h2>
                    Rodolfo Peixoto
                </h2>
                <div class="imgperfil">
                                <%= image_tag( "foto.png" ,alt: "Rodolfo Peixoto") %>
                            </div>
                <h4 class="what">
                    Desenvolvedor / Graduando em Ciências da Computação
                </h4>
            </div>
        </header>