<ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="#about"><i class="icon-user"></i><span> Rodolfo Peixoto</span></a>
                </li>
                <li class='tab'>
                  <a href="#resume"><i class="icon-file-text"></i><span> Currículo </span></a>
                </li>
                <li class='tab'>
                  <a href="#portfolio"><i class="icon-heart"></i><span> Portfolio</span></a>
                </li>
                <li class='tab'>
                  <a href="#contact"><i class="icon-envelope"></i><span> Contato</span></a>
                </li>
            </ul>