<div id="portfolio">
                    <section class="clearfix">

                        <div class="g1">
                            <div class="image">
                                <%= image_tag("Marca.png", alt:"Oralix") %>
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://www.oralix.com.br" class="btn">Acessar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--

                        <div class="break"></div>

                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/4" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/4" class="btn">Acessar
</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/5" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/5" class="btn">Acessar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/business/2" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/business/2" class="btn">Acessar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        -->
                        
                    </section>
                </div>