<div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                Experiência de Trabalho
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        Freelance Web Designer
                                    </h5><span class="label label-info">2007-2014</span>
                                    <p>
                                        Desenvolvi vários sites web, porém fiquei dois anos sem desenvolver e as tecnologias ficaram defasadas, o que é normal no ramo da computação e agora estou voltando e com mais bagagem e conhecimento para desenvolver sistemas mais robustos e completo.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Analista de Suporte Técnico Jr. - CTIS
                                    </h5><span class="label label-info">2013-2014</span>
                                    <p>
                                        Trabalhei como analista de suporte computacional junior na CTIS, prestavamos serviço para a rede PETROBRAS, foi uma ótima experiência, pois pude ter o contato com uma grande empresa e a adquirir conhecimento para ser mais profissional ainda.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Litoral Tintas - Auxiliar Administrativo
                                    </h5><span class="label label-info">2011-2012</span>
                                    <p>
                                        Trabalhei desenvolvendo panfletos promocionais, cartas e envelopes personalizados para a empresa. Comecei a desenvolver o site da empresa, mas não pude dar continuidade, pois havia passado para a UNIVERSIDADE ESTADUAL DO NORTE FLUMINENSE para cursa CIÊNCIAS DA COMPUTAÇÃO.
                                    </p>
                                </li>

                            </ul>
                            <h3>
                                Educação
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        Estácio de Sá - Sistema de Infomação
                                    </h5><span class="label label-success">2010-2011</span>
                                    <p>
                                        Cursei sistema de informação, porém eu queria mais, gostaria de ter conhecimento não só em software, mas também em hardware e ser um profissional completo.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Universidade Estadual do Norte Fluminente(UENF) - Ciências da Computação
                                    </h5><span class="label label-warning">2012-2017</span>
                                    <p>
                                        Cursando Ciências da Computação e a cada dia eu vejo que fiz a escolha certa, pois estou o curso abrange tanto hardware, quanto software.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    Habilidades
                                </h3>
                                <h5>
                                    Software
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 45.3%"><span>Photoshop</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 30%"><span>GIMP</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 80%"><span>Sublime Text</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 60%"><span>Eclipse</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 70%"><span>Terminal Linux</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 80%"><span>Microsoft Office</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 75%"><span>Linux</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Linguagem de Programação
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 88.3%"><span>HTML/CSS</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 70%"><span>PHP/MySql</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 85%"><span>jQuery/JavaScript</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 75%"><span>Ruby</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 72%"><span>C</span></span>
                                </div>

                                <div class="meter midnight">
                                    <span style="width: 82%"><span>Java</span></span>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>