    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <%= render partial: "header" %>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <%= render partial: "menu" %>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <%= render partial: "about" %>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <%= render partial: "resume" %>
              <!-- End Resume Tab Data -->
              <!-- Portfolio Tab Data -->
                <%= render partial: "portfolio" %>
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                <%= render partial: "contato" %>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
    <%= render partial: "footer" %>
    </div><!-- #main -->