<h1>Cadastro Home</h1>

<%= form_for @home do |f| %>
     
     <p>
          <%= f.label :full_name %><br /> 
          <%= f.text_field :full_name %>
     </p>
        <%= f.label :occupation %><br /> 
          <%= f.text_field :occupation %>
     <p>
     <p>
          <%= f.label :description %><br /> 
          <%= f.text_area :description %>
     </p>

     <p>
           <%= f.submit %>
     </p>

<% end %>