<p id="notice"><%= notice %></p>


<h2>Administrador: <%= @home.full_name %></h2>

<ul>
	 <li>Profissão: <%= @home.occupation %></li>
	 <li>Descrição: <%= @home.description %></li>
</ul>

<%= link_to 'Editar Administrador', edit_home_path(@home) %>