<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Rodolfo Peixoto - Graduando em Ciências da Computação </title>
  <meta name="description" content="Um grande entusiasta por computação e empreendedorismo, Rodolfo Peixoto se dedica a estudar arduamente várias áreas da computação para um dia desenvolver projetos que traga benefícios para a sociedade brasileira ou quem sabe do mundo.">
 
   <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <%= favicon_link_tag 'favicon.ico' %>

  <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="assets/javascripts/vendor/
html5shiv.js"><\/script>')</script>
      <![endif]-->


</head>
  <body class="bg-fixed bg-1">
<!--[if lt IE 7]>
    <p class="chromeframe">Você está usando um <strong>antigo</strong> navegador. Por favor <a href="http://browsehappy.com/">atualize o seu navegador</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
   <div class="main-container">

      <%= yield %>
      
    </div><!-- #main-container -->



</body>
</html>